<p style="color: green"><%= notice %></p>

<%= render @one_rep_max %>

<div>
  <%= link_to "Edit this one rep max", edit_one_rep_max_path(@one_rep_max) %> |
  <%= link_to "Back to one rep maxes", one_rep_maxes_path %>

</div>
