<div id="<%= dom_id weight_tracker %>">
  <p>
    <strong>Exercise:</strong>
    <%= weight_tracker.exercise %>
  </p>

  <p>
    <strong>Reps:</strong>
    <%= weight_tracker.reps %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= weight_tracker.weight %>
  </p>

</div>
