<h1>Editing weight tracker</h1>

<%= render "form", weight_tracker: @weight_tracker %>

<br>

<div>
  <%= link_to "Show this weight tracker", @weight_tracker %> |
  <%= link_to "Back to weight trackers", weight_trackers_path %>
</div>
