<h1>About</h1>
<div class="container">
  <p>General info about the page</p>
  <p>The 5/3/1 training method is a strength training program developed by Jim Wendler, a renowned strength coach and powerlifter.
  It's designed to gradually increase strength over time while focusing on compound lifts like the squat, deadlift, bench press, and overhead press.
  Here's how it typically works:</p>
  <p><strong> Four Main Lifts: </strong>
  The program centers around four main lifts - squat, deadlift, bench press, and shoulder press. These lifts form the foundation of the program.
  </p>
<%= link_to "Home", root_path%>
</div>
