<h1>Editing cardio tracker</h1>

<%= render "form", cardio_tracker: @cardio_tracker %>

<br>

<div>
  <%= link_to "Show this cardio tracker", @cardio_tracker %> |
  <%= link_to "Back to cardio trackers", cardio_trackers_path %>
</div>
